# Ignore Python cache files
__pycache__/
*.pyc

# Ignore model files
*.pt

# Ignore generated output directories
runs/

# Ignore temporary or backup files
*.jpg
*.jpeg
*.png
*.zip
detected_vehicle.jpg

# Ignore environment or IDE-specific files
*.env
.vscode/